<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, class: 'input', list: 'states', value: user.state&.name %>
    <datalist id="states">
      <% @states.each do |state| %>
        <option value="<%= state.name %>">
      <% end %>
    </datalist>
  </div>

  <button type="submit" name="commit" class="btn is-success">Submit</button>
<% end %>
