<p id="notice"><%= notice %></p>
<div style="width: 50%">
  <div class="container with-title">
    <span class="title">Showing User:</span>
    <div style="width: 50%">
      <div class="field">
        <strong>First name:</strong>
        <%= text_field_tag :state, @user.first_name, class: 'input', disabled: true %>
      </div>

      <div class="field">
        <strong>Last name:</strong>
        <%= text_field_tag :state, @user.last_name, class: 'input', disabled: true %>
      </div>

      <div class="field">
        <strong>Phone:</strong>
        <%= text_field_tag :state, @user.phone, class: 'input', disabled: true %>
      </div>

      <div class="field">
        <strong>Email:</strong>
        <%= text_field_tag :state, @user.email, class: 'input', disabled: true %>
      </div>
      <div class="field">
        <strong>State:</strong>
        <%= text_field_tag :state, @user.state&.name, class: 'input', disabled: true %>
<!--        <span class="input"><%#= @user.state&.name %></span>-->
      </div>
    </div>
  </div>

  <div class="container">
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn is-warning' %>
    <%= link_to 'Back', users_path, class: 'btn' %>
  </div>
</div>
